<div class="container">
  <a class="tw-ic">
    <i class="fab fa-twitter white-text mr-4"> </i>
  </a>
  <a class="gplus-ic">
    <i class="fab fa-google-plus-g white-text mr-4"> </i>
  </a>
  <a class="li-ic">
    <i class="fab fa-linkedin-in white-text mr-4"> </i>
  </a>
  <a class="ins-ic">
    <i class="fab fa-instagram white-text"> </i>
  </a>
</div>
<div class="container text-center text-md-left mt-5">
  <div class="row mt-3">
    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
      <h6 class="text-uppercase font-weight-bold">Media CompanY</h6>
      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      <p>Here you can explore.</p>
  
    </div>
    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
      <h6 class="text-uppercase font-weight-bold">Contact</h6>
      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      <p>
        <i class="fas fa-envelope mr-3"></i> rashmikr265254@gmail.com</p>
      <p>
        <i class="fas fa-phone mr-3"></i>+91 9835577995</p>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020
  </div>
</div>