<div class="container-fluid">
    <form class="form-signin" [formGroup]="loginForm">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <input type="email" class="form-control" formControlName="userId" placeholder="Email address" required autofocus>
        <input type="password" class="form-control" formControlName="password" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" (click)="submitLogin()" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
      </form>
</div>
